.navbar-brand {
  padding: 0px;
  height: 80px;
}

.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
  font-family: 'Cinzel Decorative', cursive;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

body {
  padding-top: 50px;
  background-color: #d7be9f;
  font-family: 'Spectral', serif;
}

.lameJokes {
  padding: 50px 15px;
  text-align: center;
}

.lead {
  padding: 10px;
}

.theText {
  font-size: 24px;
  font-family: 'Cinzel Decorative', cursive;
  padding: 30px;
}

.offensive {
  padding: 10px;
  font-family: 'Cinzel Decorative', cursive;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 600px) {
  .embed-container {
    max-width: 600px;
  }
  .embed-container iframe, .embed-container object, .embed-container embed {
    width: 600px;
    height: 338px;
  }
}

.video-container{
  max-width: 600px;
  margin: auto;
}
